In [3]:
# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

In [ ]:
**Objectives:**
* List popular languages for Data Science
* List commonly used libraries for Data Science
* Introduce basic arithmetic operations in Python
* Understand the Jupyter Notebook environment

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. Matplotlib

In [ ]:
| Data Science Tools |
|---|---|
| Jupyter Notebook |
| RStudio |
| VS Code |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [4]:
# This is a simple arithmetic expression to multiply then add integers.
(3 * 4) + 5

17

In [5]:
# This will convert 200 minutes to hours by dividing by 60.
200 / 60

3.3333333333333335

In [ ]:
## Author
[Kavin Sriram M]